[<div class="wiki-body gollum-markdown-content instapaper_body" id="wiki-body">
        <div class="markdown-body">
          <p>These are the functional requirements for the app.</p>
<ol>
<li>App must pull users Game List from various platforms (platforms include Steam).</li>
<li>App must pull information about game, such as name, logo, hours played, achievements earned, and last play time.</li>
<li>App must pull updates about game hours and last play time when application first loads, or when user refreshes.</li>
<li>App must display games to users in a list, showing the name of the game, the logo, hours played, achievement count/percent and last played.</li>
<li>App must allow the user to select games from list and mark them as finished, not finished, given up, and 100% complete.</li>
<li>App must allow the user to update game completion ratings at any time.</li>
<li>App must enable searching list using a text search bar.</li>
<li>App must allow user to choose to view from all games, or from specific individual platforms.</li>
<li>App must allow user to order games by name, hours played, last played, or a custom ranking.</li>
<li>App must store Game List information and game markings to device.</li>
<li>App must alert user when a new game is added to the list, for example when a new game is purchased.</li>
</ol>

        </div>

    </div>]