[<div class="wiki-body gollum-markdown-content instapaper_body" id="wiki-body">
        <div class="markdown-body">
          <h3>
<a aria-hidden="true" class="anchor" href="#requirements" id="user-content-requirements"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Requirements</h3>
<p><strong>MUST HAVE</strong></p>
<p><strong>1)</strong> A user must be able to craete an account.<br/>
<strong>2)</strong> A user must be able to upload a picture.<br/>
<strong>3)</strong> A user must be able to see a map with pairs of pictures.<br/>
<strong>4)</strong> A user must be able to like/rank a picture.</p>
<p><strong>5)</strong> The system must save all of the photos.<br/>
<strong>6)</strong> If a picture get more likes than another one, then the system must update the new picture into the database and on the map.<br/>
<strong>7)</strong> The system must be able to give points to users:</p>
<ul>
<li>5 points for updating a photo</li>
<li>20 pts. for marking an unchecked area (grid on the map)</li>
</ul>
<p><strong>SHOULD HAVE</strong></p>
<p><strong>COULD HAVE</strong></p>

        </div>

        <div class="wiki-footer gollum-markdown-content boxed-group" id="wiki-footer">
          <div class="boxed-group-inner wiki-auxiliary-content markdown-body">
            <p>Sunny_Glasgow 2014</p>

          </div>
        </div>
    </div>]