[<div class="wiki-body gollum-markdown-content instapaper_body" id="wiki-body">
        <div class="markdown-body">
          <ul>
<li>JDK 7</li>
<li>An IDE like Eclipse Juno</li>
<li>A valid Star Wars Galaxies Installation with the final patch</li>
<li>Postgresql server (<a href="http://www.postgresql.org" rel="nofollow">www.postgresql.org</a>)</li>
<li>TRE Explorer(<a href="http://forum.modsource.org/index.php?PHPSESSID=bf02fd8244123807f4716c1686abb59f&amp;action=dlattach;topic=33.0;attach=49" rel="nofollow">http://forum.modsource.org/index.php?PHPSESSID=bf02fd8244123807f4716c1686abb59f&amp;action=dlattach;topic=33.0;attach=49</a>)</li>
<li>Github account</li>
<li>(optional for windows) Github for Windows(<a href="http://windows.github.com/">http://windows.github.com/</a>)</li>
</ul>
<p>Once you have met the requirements, fork the project (click on the fork button) and then clone your forked repository.
If you are using Windows then you can clone the repository with Github for Windows, otherwise you can use the following git command:</p>
<pre><code>git clone https://github.com/your_account_name/ngecore2.git
</code></pre>
<p>Then you can import the project to Eclipse.</p>
<p>Next you need to create a postgres DB and restore the nge.backup file. Once you have done that, edit your nge.cfg with your DB information and create an account for yourself in the accounts table of your database.</p>
<p>Once you've done that open TRE Explorer and open the sku0_client.toc in your SWG folder with it.</p>
<p>Then export the following folders to your clientdata folder (should be located in your project folder):</p>
<ul>
<li>abstract</li>
<li>appearance</li>
<li>creation</li>
<li>customization</li>
<li>datatables</li>
<li>footprint</li>
<li>interiorlayout</li>
<li>misc</li>
<li>object</li>
<li>quest</li>
<li>snapshot</li>
<li>terrain</li>
</ul>
<p>Now you're ready to run the core!</p>

        </div>

    </div>]