[<div class="wiki-body gollum-markdown-content instapaper_body" id="wiki-body">
        <div class="markdown-body">
          <p>#Requirements</p>
<h2>
<a aria-hidden="true" class="anchor" href="#general" id="user-content-general"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>General</h2>
<h3>
<a aria-hidden="true" class="anchor" href="#first" id="user-content-first"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>First:</h3>
<p>There is no guarantee from the author. Use at your own risk. Check the <a href="https://github.com/kairoaraujo/PowerAdm/blob/master/LICENSE">License file</a>.</p>
<h2>
<a aria-hidden="true" class="anchor" href="#infrastructure" id="user-content-infrastructure"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Infrastructure</h2>
<p>You need a *nix (Linux or Unix) with Python &gt;= 2.6 &lt;= 3</p>
<p>To install check the <a href="https://github.com/kairoaraujo/PowerAdm/blob/master/INSTALL">INSTALL</a> file.</p>
<h2>
<a aria-hidden="true" class="anchor" href="#hmc" id="user-content-hmc"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>HMC</h2>
<p>Works with HMC 7 and HMC 8</p>
<h2>
<a aria-hidden="true" class="anchor" href="#environment-to-create-lpar" id="user-content-environment-to-create-lpar"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Environment to create LPAR</h2>
<h3>
<a aria-hidden="true" class="anchor" href="#maximum-number-of-lpars" id="user-content-maximum-number-of-lpars"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Maximum number of LPARs</h3>
<p>You need to determine the maximum number of LPAR in your environment. Try to determine a an amount of memory and CPUs and the number of frames.</p>
<p>For example in my environment I have about 500 LPARs which I think are relatively many.</p>
<h3>
<a aria-hidden="true" class="anchor" href="#maximum-number-of-virtual-adapter-on-vios-servers" id="user-content-maximum-number-of-virtual-adapter-on-vios-servers"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Maximum number of Virtual Adapter on VIOs Servers</h3>
<p>On HMC select VIO LPAR: Configuration &gt; Manage Profiles &gt; Virtual Adapters check 'Maximum number of Virtual Adapters'</p>
<p>The rule:</p>
<p>On the primary VIO the Virtual Adapter Maximum Number is: 3+ <em>"maximum number of LPARs"</em>
On the secundary VIO the Virtual Adapter Maximum Number is:  4+ <em>"maximum number of LPARs"</em></p>
<p>Remember the <em>Maximum number of LPARs</em> In the example is 500.</p>
<p>Example</p>
<ul>
<li>On my First VIO the Maximum number of Virtual Adapter is 3500</li>
<li>On my Second VIO the Maximum number of Virtual Adapter is 4500</li>
</ul>
<h3>
<a aria-hidden="true" class="anchor" href="#validate-vios-adapter-id" id="user-content-validate-vios-adapter-id"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Validate VIOs 'Adapter ID'</h3>
<p>In the VIOs Profile (Configuration &gt; Manager Profiles &gt; Virtual Adapters) check de largest Adapter ID.</p>
<p><strong>How the Virtual Adapters in VIO are created by the Power Adm:</strong></p>
<p>The rules are:</p>
<ul>
<li>1+'LPAR ID' to first virtual SCSI on Primary VIO</li>
<li>2+'LPAR ID' to second virtual SCSI on Second VIO</li>
<li>3+'LPAR ID' to first virtual Fiber Channel (HBA) on Primary VIO</li>
<li>4+'LPAR ID' to second virtual Fiber Channel (HBA) on Second VIO</li>
</ul>
<p>Example:</p>
<p>LPAR ID = 30</p>
<ul>
<li>130 to first virtual SCSI on Primary VIO</li>
<li>230 to second virtual SCSI on Second VIO</li>
<li>330 to first virtual Fiber Channel (HBA) on Primary VIO</li>
<li>430 to second virtual Fiber Channel (HBA) on Second VIO</li>
</ul>
<p>In LPAR configuration is always this:</p>
<ul>
<li>10 to First virtual Ethernet Adapter</li>
<li>11 to Second virtual Ethernet Adapter (if added)</li>
<li>12 to Third virtual Ethernet Adapter (if added)</li>
<li>21 to First virtual SCSI (if added)</li>
<li>22 to Second virtual SCSI (if added)</li>
<li>33 to first virtual Fiber Channel/HBA/NPIV (if added)</li>
<li>34 to second virtual Fiber CHannel/HBA/NPIV (if added)</li>
</ul>
<p><strong>!! It is important to understand this in order to know how to adjust your environment to support the PowerAdm !!</strong></p>
<p><strong>You will need to manually create a LPAR with ID greater than its largest existing 'Adapter ID'.</strong></p>
<p><strong>If exists in my environment a LPAR with this ID or largest must get the next one.</strong></p>
<p>It is easier to understand with an example:</p>
<ol>
<li>
<p>On my Primary VIO the largest 'Adapter ID' is 127</p>
</li>
<li>
<p>On my Secound VIO the largest 'Adapter ID' is 110</p>
</li>
<li>
<p>I need to manually create an LPAR with ID 28 with this configuration.</p>
</li>
<li>
<p>If exists in my environment LPARs with IDs 28, 29, 30 will need to use the ID 31</p>
</li>
<li>
<p>Create Manually LPAR with ID 31</p>
</li>
</ol>
<p>After creating the LPAR manually (LPAR ID 31), if I use the 'PowerAdm' to create a new she will get the ID 32.</p>
<p>Its configuration will look like in the VIO:</p>
<ul>
<li>132 to first virtual SCSI on Primary VIO</li>
<li>232 to second virtual SCSI on Second VIO</li>
<li>332 to first virtual Fiber Channel (HBA) on Primary VIO</li>
<li>432 to second virtual Fiber Channel (HBA) on Second VIO</li>
</ul>
<h2>
<a aria-hidden="true" class="anchor" href="#environment-to-deploy-os-using-a-nim-server" id="user-content-environment-to-deploy-os-using-a-nim-server"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Environment to Deploy OS Using a NIM Server</h2>
<h3>
<a aria-hidden="true" class="anchor" href="#nim-server" id="user-content-nim-server"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>NIM Server</h3>
<p>You need a configured and working NIM Server with SUDO installed.</p>
<p>Check the install procedure on <a href="https://github.com/kairoaraujo/PowerAdm/blob/master/INSTALL">INSTALL</a> file.</p>
<h2>
<a aria-hidden="true" class="anchor" href="#using-the-vmware-vcenter-orchestrator-to-create-lpar" id="user-content-using-the-vmware-vcenter-orchestrator-to-create-lpar"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Using the VMWare vCenter Orchestrator to create LPAR</h2>
<p>TIP: The PowerAdm must be configured and running in text mode/ASCII.</p>
<ol>
<li>
<p>Login on the VMware vCenter Orchestrator using the vCenter Orchestrator Client</p>
</li>
<li>
<p>Change the view from 'Run' to 'Design'</p>
</li>
<li>
<p>Go to the 'Action'</p>
</li>
<li>
<p>Create folder 'org.poweradm.basic'</p>
</li>
<li>
<p>Left clic on folder 'org.poweradm.basic' and click on 'Import action...'.</p>
</li>
<li>
<p>Select all actions in the vCO folder of PowerAdm package.</p>
<ul>
<li>getVSW</li>
<li>getSystemList</li>
<li>getAddSSPDisk</li>
<li>getNPIV</li>
</ul>
</li>
<li>
<p>Go to the 'Workflows' folder</p>
</li>
<li>
<p>Create on 'Custom' folder a new folder named 'PowerAdm'</p>
</li>
<li>
<p>Left clic on 'PowerAdm' folder and click on 'Import workflows..'</p>
</li>
<li>
<p>Left click on workflow PowerAdm and click on 'Edit'</p>
</li>
<li>
<p>In General, change the Attribute Values:</p>
<ul>
<li>powerAdmAddres [IP address of your server with PowerAdm]</li>
<li>powerAdmUser [Username of PowerAdm]</li>
<li>powerAdmPassword [Password PowerAdm user]</li>
<li>powerAdmPath [path installation]</li>
</ul>
</li>
</ol>
<p>For more information visit <a href="https://github.com/kairoaraujo/PowerAdm/wiki/vCO-for-PowerAdm">https://github.com/kairoaraujo/PowerAdm/wiki/vCO-for-PowerAdm</a></p>
<h2>
<a aria-hidden="true" class="anchor" href="#tips" id="user-content-tips"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Tips</h2>
<ul>
<li>I need two more virtual Fiber Channel, how to procced?</li>
</ul>
<ol>
<li>on the Primary VIO create manually 432</li>
<li>on the Secound VIO create manually 332</li>
</ol>
<p>on the LPAR use free IDs:</p>
<ul>
<li>13,15,16,17,18 and 19 free to manually use for virtual network</li>
<li>23..29 free to manually use for virtual scsi adapters</li>
<li>33..39 free to manually use for virtual Fiber CHannel/HBA/NPIV</li>
</ul>
<p>It's great! <img align="absmiddle" alt=":+1:" class="emoji" data-canonical-src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png" height="20" src="https://camo.githubusercontent.com/a2840914d539225aaf8d395397d8dbc488a0740d/68747470733a2f2f6173736574732d63646e2e6769746875622e636f6d2f696d616765732f69636f6e732f656d6f6a692f756e69636f64652f31663434642e706e67" title=":+1:" width="20"/></p>
<h2>
<a aria-hidden="true" class="anchor" href="#need-help-" id="user-content-need-help-"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Need help ?</h2>
<p>send me email: kairo [@] kairo . eti . br</p>

        </div>

        <div class="wiki-footer gollum-markdown-content boxed-group" id="wiki-footer">
          <div class="boxed-group-inner wiki-auxiliary-content markdown-body">
            <p>Back to <a href="http://poweradm.org" rel="nofollow">http://poweradm.org</a></p>

          </div>
        </div>
    </div>]