[<div class="wiki-body gollum-markdown-content instapaper_body" id="wiki-body">
        <div class="markdown-body">
          <p><strong>Java Version</strong><br/>
1.8+<br/>
May run on other versions but it's not tested</p>
<strong>Notes</strong><br/>
TLS 1.3 is not currently supported


        </div>

    </div>]