[<div class="wiki-body gollum-markdown-content instapaper_body" id="wiki-body">
        <div class="markdown-body">
          <p>###Actors<br/>
<strong>Primary:</strong> The application</p>
<p>###Use Cases<br/>
<a href="https://github.com/hatebyte/android-ystrdy/wiki/Request-Difference">Request Difference</a><br/>
The actor request to know the difference between the current temperature where he is now, against the current temperature where he was yesterday</p>
<p><a href="https://github.com/hatebyte/android-ystrdy/wiki/Record-Weather">Record Weather</a><br/>
The actor saves the current location's temperature hourly.</p>
<p><img alt="" data-canonical-src="http://i.imgur.com/7l74MNU.jpg?1" src="https://camo.githubusercontent.com/d53859f0871d51fb5faecf55bf3320caf4e109af/687474703a2f2f692e696d6775722e636f6d2f376c37344d4e552e6a70673f31"/></p>
<h3>
<a aria-hidden="true" class="anchor" href="#domain-object-model" id="user-content-domain-object-model"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Domain Object Model</h3>
<p>Request Difference<br/>
<img alt="" data-canonical-src="http://i.imgur.com/IppuQt6.jpg?1" src="https://camo.githubusercontent.com/6454c8c52156857ebb148e769e7c7e6c67669cb7/687474703a2f2f692e696d6775722e636f6d2f497070755174362e6a70673f31"/></p>
<p>Record Weather<br/>
<img alt="" data-canonical-src="http://i.imgur.com/txt9z7X.jpg?1" src="https://camo.githubusercontent.com/b516231c9c4f3c44ec5c03dc1c12bcc519385c96/687474703a2f2f692e696d6775722e636f6d2f747874397a37582e6a70673f31"/></p>
<h3>
<a aria-hidden="true" class="anchor" href="#interface-descriptions" id="user-content-interface-descriptions"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>Interface Descriptions</h3>
<p><img alt="" data-canonical-src="http://i.imgur.com/tghPOp7.jpg?1" src="https://camo.githubusercontent.com/0dd93b58de66312ad7c58e53189b6672bb668f58/687474703a2f2f692e696d6775722e636f6d2f746768504f70372e6a70673f31"/></p>

        </div>

    </div>]