[<div class="wiki-body gollum-markdown-content instapaper_body" id="wiki-body">
        <div class="markdown-body">
          <h2>
<a aria-hidden="true" class="anchor" href="#the-requirement-node" id="user-content-the-requirement-node"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>The REQUIREMENT node</h2>
<p>The REQUIREMENT node defines a contract requirement - the pre-requisites that are required for the contract to be offered.</p>
<p>Requirements all follow the same general structure - the following attributes are available for all requirements:</p>
<pre>REQUIREMENT
{
    // The requirement name is not used, but should be provided to allow
    // for the possibility of other mods modifying contracts via
    // ModuleManager.
    name = Requirement

    // The type defines the type of Requirement.  See below for a list of
    // all supported ContractConfigurator requirements.
    type = ReachSpace

    // Title to use for the requirement when displaying it in Mission Control.
    // In most cases, a default title is provided.
    //
    // Type:      <a href="String-Type">string</a>
    // Required:  No (defaulted)
    //
    //title =

    // The invertRequirement is a logical NOT.  In this example, the
    // requirement becomes that the player must not yet have reached space.
    //
    // Type:      <a href="Boolean-Type">bool</a>
    // Required:  No (defaulted)
    // Default:   false
    //
    invertRequirement = true

    // Most requirements are not checked for active contracts (to
    // prevent the contract from being withdrawn while the player is
    // actively working to complete it).  Use this to change that
    // behaviour.  Note in some cases it's a lot nicer to do that
    // as a PARAMETER so the player knows what's required of them.
    //
    // Type:      <a href="Boolean-Type">bool</a>
    // Required:  No (defaulted)
    // Default:   (dependent on requirement)
    //
    checkOnActiveContract = true

    // Causes children of the requirement to be hidden when displaying
    // in Mission Control.
    //
    // Type:      <a href="Boolean-Type">bool</a>
    // Required:  No (defaulted)
    // Default:   false
    //
    hideChildren = true
}
</pre>
<p>The requirements listed in the navigation pane to the right are natively supported by ContractConfigurator.</p>

        </div>

    </div>]