[<div class="wiki-body gollum-markdown-content instapaper_body" id="wiki-body">
        <div class="markdown-body">
          <h1>
<a aria-hidden="true" class="anchor" href="#requirements" id="user-content-requirements"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>requirements</h1>
<h2>
<a aria-hidden="true" class="anchor" href="#a-sample-usecase" id="user-content-a-sample-usecase"><svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z" fill-rule="evenodd"></path></svg></a>a sample usecase</h2>
<p>one of my research project concerns the performance of robots. so I collect images, film titles, notes on films, some academic articles, some notes on colleagues working about the topic, some ideas about a book, some leaflets of performances seen here and there, weblinks to conference-pages, etc. from time to time I am writing an article about the topic, in that process the material gets structured new stuff is being added, others gets modified and organized in new ways, sometimes I ask my research assistant to do some research, sometimes I meet colleagues working on similar topics with whom I want to share some information, I give a seminar about the topic and at some time might want to make a book out of the research</p>
<ul>
<li>
<em>So one kind of data we want to store is notes. – How will the notes
be created?</em>
<ul>
<li><em>With an external program? Then it would be difficult to include
cross-references to data in the system in the notes.</em></li>
<li><em>Inside the system? Then we'd have to implement not only
functionality for archiving and connecting data, but also
functionality for authoring new data. How sophisticated does that
have to be? Note-taking can go from very simple to very complex.</em></li>
</ul>
</li>
</ul>
<p>so, I, as a researcher, want to:</p>
<ul>
<li>get my materials archived, saved and tagged so I can later access them with ease,
<ul>
<li><em>What is the difference between archiving and saving?</em></li>
</ul>
</li>
<li>be able to quickly add some material or information while in an archive, a library or on a conference<a name="user-content-adding-material"></a> (see also <a href="considerations">considerations</a>).</li>
<li>develop and change the structure of the data according to the changing theoretical premises of my discipline
<ul>
<li><em>The structure of which data? There are lots of differnt kinds of
data in the system.</em></li>
<li><em>What are the theoretical premises of a discipline? How do they
change? How do the influence how the data should look?</em></li>
<li><em>So this is mostly about this ontology idea, I guess.</em></li>
</ul>
</li>
<li>have the possibility to organise that material according to my ongoing research</li>
<li>have my teaching assistant help me with adding and cleaning up the data</li>
<li>put the data into a presentable form so I can make it available to colleagues and students
<ul>
<li><em>What is a presentable form here?</em></li>
<li><em>A presentation or article? That's not the purpose of the system,
I think.</em></li>
<li><em>Some sort of online notebook with inline materials and things
like that? That might make sense, but adds quite some complexity.</em></li>
<li><em>Or just the make the data itself, as it is shown to me, available
to others?</em></li>
</ul>
</li>
<li>use the database to put together quickly a reading list or viewing list for a seminar</li>
</ul>
<p>secondly, if many researchers would start using the system, then:</p>
<ul>
<li>several colleagues should effectively share data and work together on the same set of materials,</li>
<li>it should be useful as a starting point of research and to look up information</li>
<li>specific databases should grow incrementally over time into a strong representation of a field
<ul>
<li><em>This and the previous point appear to imply that also research
products like articles or information about them should be stored
in the system. Intuitively it is important to distinguish between
the raw materials research uses (stuff found in archives) and the
artifacts it produces.</em></li>
<li><em>But then it says down below that the system shouldn't be an
online publishing platform.</em></li>
</ul>
</li>
<li>it should make visible what research is being done and were research overlaps
<ul>
<li><em>I assume that overlapping is used in a positive sense here? We
want to see who else is working on something in order to
collaborate?</em></li>
</ul>
</li>
<li>an interface for further analyzation and visualisation of the data should be provided</li>
<li>a rating system should be introduced that evaluates data according to the status of its provider</li>
<li>there should be an incentive for libraries, archives and publishers to publish their information in the system
(see also <a href="considerations">considerations</a>)</li>
<li>it should give an impression of the state and direction of research of a discipline or area</li>
<li>when adding information the system should automatically look up who has written about it or where it is in the internet available</li>
</ul>
<p>Finally, what the systems should not be is:</p>
<ul>
<li>a complete database about some subject area</li>
<li>an online publishing platform</li>
<li>something that provides me with lots of information that I don’t need
<ul>
<li><em>How does the system know which information a user needs or not?
Does everyone need the same things all the time? Or does it depend
on user and context which information to display?</em></li>
</ul>
</li>
<li>something that is dependent on people being paid to put data in there</li>
<li>something that wants to give broad scale overview information about many things
but an emerging system, whose database is derived directly from its use made during research and grows according to it, that offers flexible methods and possibilities to structure and cross-reference data</li>
</ul>

        </div>

    </div>]