[<div class="wiki-body gollum-markdown-content instapaper_body" id="wiki-body">
        <div class="markdown-body">
          <p>To run MCU tools optimaly the following hardware is recomended:
##Local installations</p>
<ul>
<li>1 GHz CPU</li>
<li>1 GB RAM</li>
<li>A GPU with DirectX 9 support</li>
<li>Windows 7</li>
<li>2 GiB free space (for full install)</li>
</ul>
<p>##Network install</p>
<ul>
<li>100 MiB free space on local machines/user (approximate value)</li>
<li>2 GiB free space on server</li>
<li>100Mbit local network</li>
<li>Server OS supporting Windows file shares. (Windows Server / Samba)</li>
</ul>

        </div>

    </div>]